.Rproj.user
.Rhistory
.RData
rsconnect
wordbank-book.Rmd
_bookdown_files/
data/*/_*

.DS_Store

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.bbl
*.blg
*.tex
*.pdf
